<div class="row">
    <div class="col-md-8">
        <form [formGroup]="blogForm" (submit)="submitBlog()">
            <div class="form-group">
                <div>
                    <label for="title">Title</label>
                    <input id="title" type="text" class="form-control" formControlName="title" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="author">Author</label>
                    <input id="author" type="text" class="form-control" formControlName="author" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="featureImage">Image</label>
                    <input id="featureImage" type="text" class="form-control" formControlName="featureImage" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="content">Blog</label>
                    <textarea id="content" class="form-control" rows="10" cols="50" formControlName="content"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="form-control" value="SUBMIT" />
                </div>
            </div>
        </form>
    </div>
</div>