<div class="row">
    <div class="col-md-9">
        
        <h4 class="blog-title">{{ blog.title }} 
            <a [routerLink]="['/main/blogs/edit-blog/' + blog.id]" routerLinkActive="router-link-active">Edit</a> 
        </h4>
        
        <p>By - {{ blog.author }}</p>
        
        <div class="image">
            <img class="img-fluid" src="{{blog.featureImage}}" />
        </div>
        
        <div [appExcerpt]="wordLimit" fulltext="{{blog.content}}"></div>
        
        <div class="row">
            <span class="col-md-6">{{ blog.comments }} Response</span>
            <span class="col-md-6 text-right">{{ blog.upvotes }} Upvotes</span>
        </div>

        <div class="wrap">
            <h5>Comments:</h5>
            <div class="row" *ngFor="let comment of comments; let i = index;">
                <div class="clearfix col-md-6" [ngClass]="{ 'float-right': ((i + 1) % 2 === 0), 'float-left': ((i + 1) % 2 !== 0) }">
                    <h6 class="blog-comment">{{comment.comment}}</h6>
                    <p [ngClass]="{'text-right': ((i + 1) % 2 === 0) }">
                        <strong>{{comment.author | titlecase }}</strong> on {{ comment.date | date }}
                    </p>
                </div>                    
            </div>

            <div class="row" *ngIf="comments.length === 0">
                <div class="clearfix col-md-12">
                    <h6>There are no comments on this blog</h6>
                </div>                    
            </div>
        </div>

        <div class="wrap">
            <h5>Add a Comment:</h5>
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="commentForm" (submit)="submitComment()">
                        <div class="form-group">
                            <div class="form-group">
                                <div>
                                    <label for="author">Author</label>
                                    <input id="author" type="text" class="form-control" formControlName="author" />
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="comment">Comment</label>
                                        <textarea id="comment" class="form-control" rows="5" cols="20" formControlName="comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <input type="submit" class="form-control btn btn-primary" value="SUBMIT" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <app-blog-sidebar></app-blog-sidebar>
    </div>
</div>